body {
    display: flex;
    margin: 0;
    font-family: "Asap", sans-serif;
}

#container {
    border-radius: 5px;
    margin: auto;
    border: 1px solid black;
    height: 1161px;
    width: 600px;
}

header,
#itemsContainer,
#checkout {
    width: 100%;
    margin: 2px;
}

header {
    position: relative;
    height: 167px;
}

i {
    cursor: pointer;
}

#itemsBox {
    box-sizing: border-box;
    padding: 20px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#checkoutContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    /* border: 2px solid blue; */
}

.view {
    display: none;
}

#headerImg img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

#headerText {
    color: whitesmoke;
    position: absolute;
    top: 20px;
    left: 50px;
}

#headerText h1 {
    font-size: 50px;
}

#headerText h3 {
    font-size: 25px;
    font-weight: 400;
}

#headerText h1,
h3 {
    margin: 3px;
}

.item {
    border-bottom: 1px solid grey;
    justify-content: space-between;
    display: flex;
    width: 508px;
    padding: 10px;
}

.item-start {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin: 5px;
    padding: 5px;
}

.item-start p {
    font-size: 65px;
    margin: 0;
}

.item-mid {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px;
    padding: 5px;
}

.item-mid h1,
h2,
p {
    margin: 2px;
}

.item-mid h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.item-mid p {
    font-size: 25px;
    margin-bottom: 10px;
}

.item-end {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 5px;
    padding: 5px;
}

.item-end span {
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 15px;
}

#checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#checkout h1 {
    margin: 0;
    font-size: 30px;
}

#checkoutDetails {
    padding-bottom: 15px;
    margin: 5px;
    height: 100px;
    width: 90%;
    border-bottom: 2px solid lightgray;

}

#completeOrder {
    width: 90%;
    color: whitesmoke;
    font-weight: 600;
    font-size: 25px;
    height: 60px;
    background-color: #16db99;
    border: none;
    border-radius: 10px;
}

#orderedItems {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    /* padding: 2px; */
    height: 50px;

}

#orderedItems h1 {
    width: 70%;
    /* border: 1px solid black */
}

#orderedItems span {
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 10px;
}

#total {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    padding: 2px;
    /* border: 4px solid red; */
    height: 60px;
}

#total h2 {
    font-size: 30px;
}

#paymentCard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 60px #888888;
    ;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 542;
    width: 524;
    background-color: white;
}

#paymentCard form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

legend{
    font-size: 30px;
}

#paymentCard input {
    border-radius: 5px;
    width: 475px;
    height: 70px;
    box-sizing: border-box;
    margin: 10px;
    line-height: 50px;
}

input{
    font-size: 30px;
}


#paymentCard button {
    font-size: 30px;
    height: 75px;
    width: 475px;
    background-color: #16db99;
}

input::placeholder {
    padding-left: 10px;
    font-size: 25px;
}

#acknowledge{
    display: none;
    margin: auto;
    border-radius: 10px;
    height: 120px;
    width: 540px;
    background-color: #ecfdf5;
}

#acknowledge p{
    margin: auto;
    font-size: 30px;
    color: #065F46;
    font-weight: bolder;
}